[Unit]
Description=Bluetooth Main Program

[Service]
User=pi
Type=idle
EnvironmentFile=/home/pi/Documents/blue-nebula/raspberry-pi/.env
ExecStart=/usr/bin/python3 /home/pi/Documents/blue-nebula/raspberry-pi/main.py
Restart=always

[Install]
WantedBy=blue-nebula.target
