[Unit]
Description=Bluetooth Main Program

[Service]
User=$USER
Type=idle
EnvironmentFile=$HOME/Documents/blue-nebula/raspberry-pi/.env
ExecStart=/usr/bin/python3 $HOME/Documents/blue-nebula/raspberry-pi/main.py
Restart=always

[Install]
WantedBy=blue-nebula.target
