[Unit]
Description=Temperature Logging Program

[Service]
User=$USER
Type=idle
ExecStart=/usr/bin/python3 $HOME/Documents/blue-nebula/raspberry-pi/temperature_logging/log_temperature.py
Restart=always

[Install]
WantedBy=blue-nebula.target
