[Unit]
Description=Temperature Logging Program

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Documents/blue-nebula/raspberry-pi/temperature_logging/log_temperature.py
Restart=always

[Install]
WantedBy=blue-nebula.target
